header {
  display: flex;
  background-image: url(img/header.jpg);
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  height: 300px;
  text-shadow: -4px -3px 3px grey;
  font-family: 'Monotype Corsiva';
  color:white;
}
.headercuadro {
  background-color: rgb(24 23 23 / 83%);
}
.linea1 {
  height: 2px;
}
.linea2 {
  display: flex;
  height: 2px;
  background-color: #FFE6A7;
}
.cualidades{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFE6A7;
  padding-bottom: 4rem;
}
.envios {
  margin-right: 30px;
}
.precios {
  margin-right: 50px;
}
.imagen1{
  margin-left: 40px;
}
.imagen2{
  margin-left: 40px;
}
.imagen3{
  margin-left: 10px;
}
.titulo2 {
  text-align: center;
  background-color: #FFE6A7;
  margin: 0;
  padding: 1rem;
}
.titulo3 {
  text-align: center;
  color: white;
  background-color: #99582A;
  margin: 0;
  padding: 1rem;
}
.valoraciones{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #99582A;
  padding-bottom: 3rem;
}
.valor {
  background-color: #FFE6A7;
  width: 400px;
  height: 300px;
  text-align: center;
  padding-top: 3rem;
  border-radius: 1rem;
  margin-top: 40px;
}
.fa-star {
  color: gold;
}
.reseñas {
  padding: 1rem;
  float: right;
  border-radius: 2rem;
}
.button {
  padding-right: 3rem;
  padding-bottom: 5rem;
  background-color: #99582A;
}
button {
  cursor: pointer;
  background-color: #FFE6A7;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-color: #FFE6A7;
}